
.edit_getContact_photo {
    position: relative;
    /* float: left; */
    /* width: 100%; */
}
.dropdown-toggle::after {
 display: none;
}

.gray-text.transaction_email {
    min-width: 520px;
}
.second_labelImage {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  top: -69px;
}

.second_labelImage .proprty_mediaImage {
  position: relative;
  margin-right: 30px;
}

.row .contact_brochure {
  background-color: var(--branding-footer-color);
  width: 100%;
  margin: 3px;
  border-radius: 16px;
  padding: 10px 10px;
  margin-top: -39px;
}

.description_PrintPage_brochure{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 13;
    overflow: hidden;
    font-size: 16px;
    text-align: justify;
}

.brochureListing{
      height: 400px;
    background-color:#2f251a;  
    /* border-radius: 12px; */
}

.brochure_Image {
  height: 300px;
}

.testimanal_listing {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  row-gap: 10px;
}

.transaction_document .document_action .react-pdf__Document {
  max-width: 100px;
}

.select_template_print .form-check img {
  min-height: 130px;
}

.profile_thumbnail_testimonal {
  height: 50px;
  width: 50px;
  object-fit: cover;
  min-width: 50px;
}

.testimonial_description {
  text-align: justify;
}

.testimanal_star {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
  padding-right: 157px;
}

.testimanal_icon {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
}

.card-img-top.brochureListing {
  position: relative;
}
.brochureListingFourth{
  height: 400px;
 background-color: #f85e00;
}

.card-img-top.brochureListing .brochure_FirstPage {
  position: absolute;
  bottom: 0;
  color: #ffffff;
}

.col-md-4 .printTempalte_one img.img-fluid {
  padding: 5px 11px 5px 14px;
  border-radius: 20px;
}

.col-md-4 .printTempalte_one {
  position: relative;
  bottom: 75px;
  background-color: white;
}
.notes-main.task_lists .accordion-button::after {
  margin: auto;
}

.document_action.document_action .react-pdf__Page__canvas {
  width: 100% !important;
  height: 115px !important;
  margin-top: 6px;
}
.accordion-body .card .document_action.document_action a {
  width: 100%;
}

.document_action.document_action p span {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  float: left;
  width: 100%;
}
.document_action.document_action p  {
  margin-bottom: 2px!important;
  font-size: 14px;
}
.document_action.document_action .text-start a {
  font-size: 14px;
  cursor: pointer;
}

.Upload_transactionDocument {
  background: #f6f6f6;
  border: 2px dotted;
  height: 100%;
  min-height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
  max-width: 100px;
}

.edit_getContact_photo label.documentlabel {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
}
.edit_getContact_photo .documentlabel i.h2.fi-edit {
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 25px;
    width: 25px;
    background: #ffffff;
    border-radius: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8c8c8;
}


.multitab-action.transaction_bar .collapse .card-nav .btn.btn-primary {
    background-color: var(--branding-main-color);
    color: #ffffff;
    border: 2px solid #434a5b;
    font-size: 14px;
    background-image: linear-gradient(to right, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 51%, rgb(22 34 42) 100%);
    padding: 0.75rem 0.65rem;
    border-radius: 24px;
}
.modal-dialog.modal-lg.modal-dialog-scrollable .pdf-thumbnails .react-pdf__Document {
    display: initial;
}
.content_main .card.bg-secondary .card-body .view_profile h6 {
    font-size: 14px;
}
.choose_options {
  position: initial !important;
}

.document_description .document_actions p {
  font-size: 14px;
}

.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link {
    /* width: 16%; */
    float: left;
    margin: 0% 2% 0% 0%;
    /* background: #16161687;
    border-radius: 32px;
    box-shadow: 1px 5px 2px #000000;
    border: 4px solid #ffffff5c; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #32323c;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
    border-image: transparent;
    border-image-slice: initial;

}
.areas-served p span i.fa.fa-times {
    font-size: 12px !important;
    margin: 0 4px;
}
table.table.table-striped th .dropdown button.bg-light.text-dark.dropdown-toggle {
    font-weight: 600;
}
.areas-served p span {
    border: 1px solid #b8b8b8;
    margin-right: 12px;
    border-radius: 6px;
    padding: 1px 6px;
}
.catelog_details .col-md-3 img.img-fluid {
    /* border-radius: 100%; */
    border: 1px solid #bdbdbd;
    object-fit: cover;
}
.catelog_details .social-links p svg {
    height: 30px;
    width: 30px;
    border: 1px solid #d5d2dc;
    border-radius: 100%;
    padding: 6px;
    color: #535353;
}
.border-right-con {
    border-right: 2px solid #efecf3;
    border-top: 2px solid #efecf3 !important;
}
.leave_a_review textarea.form-control {
    border-width: 0px 0px 2px 0px;
    border-radius: 0px;
    border-color: #efecf3;
}
.profile_page_wrap .style-module_starRatingWrap__q-lJC svg.star-svg {
    width: 26px;
}
.catelog_details .social-links p svg:hover {
    background: #32323c;
    color: #ffffff;
}
.edit_profile_photo {
    position: relative;
    float: left;
}
.edit_profile_photo label.documentlabel {
    min-width: auto;
}
.edit_profile_photo label.documentlabel i.h2.fi-edit {
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.my_documents .accordion-item p button.accordion-button {
    float: left;
    width: 62%;
    color: #ffffff;
    background-color: var(--branding-header-color);
    font-size: 15px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--branding-header-color);
    text-align: center;
}
.profile_page_wrap .profile_thumbnail {
    height: 55px;
    width: 55px;
    object-fit: cover;
    min-width: 55px;
    border: 4px solid #e7e7e7;
    padding: 1px;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
}
.catelog_details .image-gallery-slides img.image-gallery-image {
    width: 100% !important;
    height: 100%;
    object-fit: initial;
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover .card-body h3, .FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover .card-body p {
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
    width: 100%;
}
.select_template .form-check img {
    width: 100%;
    max-height: 150px;
}

.select_template img.active {
  border: 2px solid darkgreen;
  padding: 4px;
}

.section {
  width: 100%;
}
.user_attention_links i.h2 {
    color: #ffffff;
    font-size: 28px;
    margin: 0 0px 0 18px;
    cursor: pointer;
}
.user_attention_links i.h2:hover {
    color: #dedede;
}
.right_sidebar .transaction_tab_view {
    margin-left: 5%;
}
.right_sidebar.active .transaction_tab_view {
    margin-left: 0%;
}
.special_days .agent_details table th, .special_days .agent_details table td {
    color: #000000;
}
.special_days.agent_detailss {
    float: left;
    width: 100%;
    padding: 10px;
    background: rgb(255 255 255 / 42%);
    border: 1px solid #eeeeee;
    border-radius: 10px;
}
.category_feature {
    float: left;
    width: 100%;
    padding: 10px;
    background: rgb(255 255 255 / 42%);
    border: 1px solid #eeeeee;
    border-radius: 10px;
}
.agent_details .online_users span {
    float: left;
    width: 16.333%;
    margin-left: 0px;
    position: relative;
    margin-right: 12px;
}
.agent_details .online_users span i.fa.fa-circle {
    position: absolute;
    right: 5px;
    bottom: 6px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    font-size: 10px;
}
.agent_details .online_users span img.img-fluid {
    max-width: 100%;
    height: 60px;
    width: 60px;
}
.info_window {
    display: none;
}

.agent_details .online_users span:hover .info_window {
    display: block;
    box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(60, 118, 242, 0.1), 0 0.375rem 0.75rem -0.125rem rgb(0 0 0 / 40%);
}
.agent_details .online_users span p {
    font-size: 16px;
}
.info_window {
    position: absolute;
    top: -60px;
    background: #ffffff;
    border-radius: 12px;
    color: #000000;
    padding: 10px;
    min-width: 150px;
    left: auto;
    z-index: 1;
}

.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover {
    background-color: var(--branding-header-color);
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover a {
    color: #ffffff;
    font-size: 14px;
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover .card-img-top.card-img-hover img.img-fluid {
    min-height: 250px;
    background: #f2f2f2;
    object-fit: initial;
    object-position: top;
}
.FeaturedBox .card.shadow-sm.cursor-pointer.card-hover .read-more a {
    color: #779ae2;
    font-weight: 600;
    font-size: 14px;
}
.FeaturedBox .card.shadow-sm.cursor-pointer.card-hover .read-more a:hover {
    text-decoration: underline;
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover .card-img-top.card-img-hover {
    opacity: 0.9;
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover .card-img-top.card-img-hover:hover {
    opacity: 1;
}
.agent_details .online_users span .info_window p {
    font-size: 14px;
    margin-bottom: 0px;
}
.my_documents .accordion-item .accordion-body .row .col-md-10 p, .my_documents .accordion-item .accordion-body .row .col-md-2 p {
    color: #444445;
    font-weight: 500;
    font-size: 15px;
}
.accordion-collapse .accordion-body .content .col-md-10 .files_view a {
    border: 1px solid var(--branding-header-color);
    color: #ffffff;
    float: left;
    width: 100%;
    font-size: 15px;
    background: var(--branding-header-color);
}
.accordion-collapse .accordion-body .content .col-md-2 a i.h2.fi-edit {
    font-size: 16px;
}
.files_view i.fa.fa-clone {
    cursor: pointer;
}
.my_documents .accordion-body {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 14px;
    margin-bottom: 10px;
}

.my_documents .accordion-body .content .col-md-10 p, .my_documents .accordion-body .content .col-md-2 p {
    font-weight: 500;
    color: #3c3c3c;
}
.upcoming_calendar_events .list-unstyled li a.d-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.upcoming_calendar_events ul.list-unstyled {
    border-width: 4px solid !important;
}
.special_days span i.fa.fa-plus {
    color: #000000;
}
.caledar_view .rbc-toolbar-label {
    color: #000000;
    font-weight: 600;
}
 .caledar_view .rbc-toolbar button {
    color: #000000;
}
.caledar_view .rbc-button-link {
    font-weight: 600;
}
/* .ContactCardConfirm{
  border: 1px solid black;
  padding: 9px;
  right: 50px;
  border-radius: 12px;
  position: absolute;
  top: auto;
  width: 220px;
  background: #ffffff;
} */

/* span.calenderFunding {
  position: absolute;
  left: 67%;
  margin-top: 2px;
} */

.col-md-12.landingImage img{
  min-height: 500px;
}

.pagination_blog .pagination .page-item a {
    color: #000000;
} 
/* span.calenderCount {
  position: absolute;
  left: 22%;
  margin-top: 6px;
} */


.ContactCardConfirm {
    padding: 20px;
    right: 50px;
    position: absolute;
    top: auto;
    width: 225px;
    border: 1px solid #efecf3;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem -0.25rem rgba(31,27,45,.12), 0 0.25rem 1rem rgba(31,27,45,.12) !important;
}
.container.onboarding {
  max-width: 80%;
}
.transaction_delete {
  position: absolute;
  right: 0;
  top: 0;
}
button.btn.btn-primary.RemovePopup {
  width: 7px;
}
.noteEdit{
  margin-left: 50px;
}
.react-pdf__Page__canvas {
  border: 1px solid green !important;
    display: block;
    position: relative;
    width: 100% !important;
    height: 100% !important;
    /* margin-left: -66px !important; */
    border-radius: 8px !important;
    /* object-fit: cover; */

}
.accordion-body .col-md-2 .card .document_actions .dropdown-toggle::after {
  content: none;
}
.accordion-body .col-md-2 .card .react-pdf__Document .react-pdf__Page {
  width: 100%;
}
.documentverify .react-pdf__Page__canvas {
  border: 1px solid green !important;
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  /* margin-left: -66px !important;  */
  border-radius: 12px !important;
}
.ContactCardConfirms {
  border: 1px solid black;
  padding: 36px ,24px 23px, 48px;
  padding: 6px;
  margin-left: 245px;
  border-radius: 17px;
  width: 210px;
  margin-top: -96px;
  position: relative;
}

#uploadlabel{
 
    margin-left: 99px;
    min-width: 10px;
    margin-top: -58px;
}

#selected_Image{
   max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 500px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}
#uploaded_image{
  max-width: 100%;
    height: auto;
    width: 123px;
    border-radius: 18px;
    padding: 10px
}
img.rounded-circle.profile_picture {
  width: 100px;
    height: 100px;
    border: 4px solid #445985;
    padding: 4px;
    min-width: 100px;
    min-height: 100px;
}
.react-pdf__Page__textContent{
  display: none;
}
span.position-absolute.top-0.start-0.d-lg-block.d-none.w-100.h-100.zindex-1.bg-dark.rounded-4.rounded-start-0 {
  max-width: 43vw;
}
.col-md-12.pdf-checkbox {
  padding: 20px 20px;
  border-radius: 6px;
  margin-bottom: 18px;
  overflow-x: auto;
  border: solid 4px #b5b5b5;
}
.react-pdf__Page__annotations {
  width: calc(var(--scale-factor) * 0px) !important;
    height: calc(var(--scale-factor) * 0px) !important;
}
#pdf-file{
  margin-right: 7px;
}
.react-pdf__Document {
display: flex;
}
.col-md-12.pdf-checkbox .react-pdf__Page__canvas {
  max-width: 70px;
  max-height: 90px;
  margin-right: 15px;
}
.react-pdf__message{
  display: none;
}

.answer_options{  
    border: 1px solid #999;;
    padding: 10px;
    color: #333;
    width: 350px;
    background-color: #f0f0f0;
    margin: 10px;
    cursor: pointer;
}

.Selected{
  background-color: #0d0;
  border: 1px solid #999;;
  padding: 10px;
  color: #ffffff;
  width: 350px;
  cursor: pointer;
  margin: 10px;
}

#selectButton{
  margin-right: 200px;
    margin-top: 70px;
}
.activity_list{
  margin-left: 20px;
  padding-left: 20px;
}
.activity_list-one{
  padding-left: 20px;
}
.activity_list-two{
  padding-left: 20px;
}
.activity_list-three{
  padding-left: 20px;
}
span.post_type {
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px 20px;
  background: #e0e0e0;
  border-radius: 19px;
  float: right;
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 500;
}
.textArea-form{
  display: block;
  width: 45%;
  padding: 0.575rem 1.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #454056;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5d2dc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 2px transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.blend{
  background-color:#fd5631;;
  border-radius: 50rem !important;
  display: inline-flex;
    align-items: center;
    justify-content: center
}

.section-center {
  margin: 0 auto;
  width: 33vw;
  height: 134px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.person-img {
  width: 704px;
  height: 142px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.prev,
.next {
  position: absolute;
  top: 60px;
  transform: translateY(-50%);
  background-color: #EFEFEF;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

article {
  position: absolute;

}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

#button-item {
  margin-left: 15px;
  margin-top: 6px;
}

#from-check-inline {
  display: flex;
}

#match-only {
  margin-left: 10px;
}

#form-radio-1 {
  margin-left: 10px;
}

#form-radio-2 {
  margin-left: 10px;
}

#form-radio-3 {
  margin-left: 10px;
}
#form-radio-4 {
  margin-left: -16px;
  margin-top: 4px
}
#radio-level1{
  margin-top: -9px;
}
/* 
#search-input-1 {
  width: 557px;
} */

#updater {
  padding: 10px;
  text-align: center;
}
#ExternalLink {
  padding-right: 14px;
  background-image: url("https://cdn.pboffice.net/outlink/boxarrow_gray.png");
  background-position: right center;
  background-repeat: no-repeat;
}
#document{
  font-size: 24px;
}
#text-document{
     font-size: 14px;
    /* margin-left: 60px;
    border-left: 1px solid #d9d9d9;
    padding-left: 30px; */

}

#text-document-one{
  font-size: 14px;
}

#text-document-two{
  color: #3a3838;
  font-size: 14px;
}

#Transaction-email{
  float: right;
  margin-top: 86px;
  margin-bottom: 0px;
  margin-right: 74px;
}
#Northstar-document{
  float: right;
  margin-right: 74px;
}
/* #document-showInfo{
  float: right;
  margin-right: 74px;
} */

#Document-search{
  margin-left: 5px;
}

.row, a {
  text-decoration: none;
}
.noteHistory{
  /* width: 100%; */
  border-top: solid 1px #d0d0d0;
  border-bottom: solid 1px #d0d0d0;
  padding: 8px 8px 8px 8px;
  margin-top: 5px;
}
#note-text{
  margin-left: 30px;
    margin-top: -23px;
    font-size: 12px;
}
.notes-main{
  float: left;
  width: 100%;
  border-top: solid 2px #efecf3;
  /* padding: 0px 8px 0px 8px; */
  margin-bottom: 3px;
  margin-top: 5px;
}
#note-text-one{
  margin-left: -35px;
    text-align: center;
    font-size: 14px;
    margin-top: -55px;
    padding-top: 5px;
}
#note-text-two{
  margin-left: -35px;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    margin-top: -30px;
}

/* #form-check-label-one{
  font-size: 18px;
} */

.form-check-label-one{
  /* font-size: 19px; */
  margin-top: 18px;
}
/* #text-input-one{
  margin-left: 304px;
  margin-top: -36px;
} */
/* #form-label-one{
  font-size: 19px;
  margin-left: 16px;
} */
.form-check-label-two{
  font-size: 19px;
}
.form-check-label-three{
  font-size: 14px;
}

.css-b62m3t-container{
  position: relative;
  margin-left: 303px;
  width: 422px;
  margin-top: -37px;
}
.addNoteCancel{
  margin-left: 514px;
  margin-right: 46px;
}
.text-expense{
  font-size: 25px;
  color: black;
}
.text-expense-one{
  font-size: 20px;
  color: black;
  margin-top: 50px;
}
#label-expenses{
  font-size: 19px;
  color: black;
}
.text-expense-two{
  font-size: 14px;
}
.view_profile img.pull-left {
  float: left;
  width: 75px;
  height: 75px;
  min-width: 75px;
  object-fit: cover;
  object-position: top;
}
.view_profile span {
  width: calc(100% - 115px);
  float: left;
  margin-left: 15px;
}
.view_profile span a.card-title, .view_profile span p a {
  text-align: left;
  font-size: 15px;
  text-decoration: none;
}
.calendar_view .fc-toolbar-chunk {
  display: flex;
}
#text-document-three{
  margin-top: -18px;
    color: #3a3838;
    font-size: 14px;
    margin-left: 20px;
}
#text-document-four{
  margin-top: -18px;
    color: #3a3838;
    font-size: 14px;
    margin-left: 20px;
    margin-top: -36px;
}
.orangeImage{
  margin-top: -36px;
}

.col-md-9.mt-3, p a {
  text-decoration: none;
}
.col-md-9.d-flex, .col-md-4 p a {
  text-decoration: none;
}
.col-md-9.d-flex, .col-md-6 p a {
  text-decoration: none;
}


/**css on 2 august***/

.my_files {
    float: left;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    position: relative;
}

ul.status_bar li {
     list-style: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
ul.status_bar {
    margin: auto;
    float: none;
    display: inline-block;
}

.onboarding_common_form_section {
    float: left;
    width: 100%;
    max-height: 1191px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.onboarding_common_form_section:hover {
    overflow-y: overlay;
}
.custom_videos iframe {
    border-radius: 12px;
}
.related_media iframe {
    border-radius: 12px;
    max-height: 200px;
}
i.fa.fa-calculator {
    color: #ffffff;
}
.card.select_contact .view_profile img {
    float: left;
    width: 60px;
    height: 60px;
}
.choose_options ul li strong {
    font-size: 14px;
}
.choose_options .pagination .page-item a {
    font-size: 11px;
}
.choose_options h4.or-border span {
    font-size: 13px;
}
.select_property.card.card-hover.card-horizontal.transactions .card-img-top img {
    width: 100%;
    max-height: 100px;
}
.choose_options .avtar {
    height: 40px;
    width: 40px;
    min-width: 40px;
}
.choose_options ul li span p.fs-sm.text-muted {
    font-size: 12px!important;
}
.card-img-top img.img-fluid {
  object-fit: cover;
  min-height: 200px;
}
img.rounded-circle.profile_picture {
  object-fit: cover;
}
.tags-badge badge:before {
  position: relative;
}
.tags-badge badge:before {
  content: '';
  display: block;
  border-left: 4px solid #9A9B9D;
  height: 24px;
  position: absolute;
  left: -14px;
}
.tags-badge badge {
  position: relative;
  color: #323232;
}
.transaction_tab .dropdown-menu.dropdown-menu-end {
  padding: 8px 8px;
}
.document_bar {
  float: left;
}


.activateaccountstaff_recruiter {
  position: absolute;
    background: #ffffff;
    z-index: 1;
    padding: 0px 1px;
    width: 283px;
}

.staff_recruiterinput {
  position: relative;
}


.activateaccountstaff_recruiter img.rounded-circle.profile_picture {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid !important;
}
.activateaccountstaff_recruiter ul li strong {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  margin-left: 12px;
}
.contact_information img.rounded-circle.getContact_picture {
  height: 165
px
;
  width: 165
px
;
  max-height: 165
px
;
  border: 1
px
solid #323232;
}
.modal-one .content-overlay .react-pdf__Page__canvas {
  width: 75px!important;
  height: 75px!important;
  margin-left: 2px!important;
  border-radius: 12px!important;
}
.modal-one .content-overlay .pdf-preview {
  float: left;
  width: 100%;
  overflow-x: auto;
  padding: 10px 4px;
}

.document_description {
  float: left;
  width: calc(100% - 360px);
}

.document_action {
  float: right;
    text-align: right;
}
.document_action span.status_tag {
    float: left;
    width: 100%;
    text-align: right;
}
.document_bar .pull-right .react-pdf__Document.react-pdf__Page__canvas.document_file .react-pdf__Page__canvas {
  border: 1px solid green !important;
  display: block;
  position: relative;
  width: 100px !important;
  height: 50px !important;
  margin-right: 10px !important;
  border-radius: 12px !important;
}
.document_action .react-pdf__Document.document_file {
  width: auto;
  height: auto;
}
.NotSetup.Marquee.text-center {
  float: left;
  width: 100%;
  border: dotted 3px;
  padding: 30px 12px;
}
.banner_item {
  float: left;
  width: 100%;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  margin-top: 34px;
  padding: 25px 0;
}

.modal_Body{
  position: relative;
  flex: 1 1 auto;
  padding: var(--fi-modal-padding);
  height: 218px;
}

/* a.edit_Campaign {
  margin-left: 102px;
} */

.css-1yn2e29-InputColor {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 200px !important;
  height: 50px !important;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transaction_tab span.badge_require {
  position: absolute;
  right: 0;
  top: -9px;
  background: #fd5631;
  border-radius: 100%;
  padding: 2px;
  height: 20px;
  width: 20px;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.productpromote_main{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
.promote_main {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 16px;
  margin: 10px;
  text-align: center;
 
}
.productItemImage img {
  width: 100%;
  margin: 10px 10px;
}
/* .productItemImage span {
  position: absolute;
  right: 77px;
} */
.promote_main i {
  position: absolute;
  margin: 10px -18px;
} 
.promote_Search{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding:10px;
  height: 326px;
}
.promote_filter{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding:10px;
}
.product_details {
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 6px;
}

.promote_main button {
  position: absolute;
  margin: 0px -49px;
}

.product_key {
  border: 1px solid #e0e0e0;
  float: left;
  width: 100%;
  border-radius: 6px;
  margin-left: 10px;
  padding-left: 10px;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 60px  !important;
}

.product_key p img {
  background-color: #445985;
  width: 38px;
  margin-right: 10px;
  height: 38px;
  float: left;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer !important;
  text-align: left  !important;
  white-space: nowrap  !important;
}

.accordion-body a {
  /* border: 1px solid #32323c;
  padding: 8px; */
  border-radius: 6px;
  color: #32323c;
}
.demo-wrapper.rdw-editor-wrapper {
    border: 1px solid #d5d2dc;
    border-radius: 0.5rem;
}
.rdw-editor-toolbar img {
    border-radius: 0px;
}
.rdw-editor-toolbar {
    border-radius: 16px!important;
}
.demo-editor.rdw-editor-main {
    padding: 0 10px;
}
.signature-canvas {
  touch-action: none;
    user-select: none;
    border: 1px solid #e0e0e0 !important;
    border-radius: 6px !important;
}

.staff_signature {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#uploadlabelstaff {
  margin-left: -1px;
  min-width: -4px;
  margin-top: -2px;
}
 
.question_listing .pull-right {
  margin-left: 6px;
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.question_listing .accordion {
  float: left;
  width: calc(100% - 80px);
}

.image-gallery-image {
  width: 85% !important;
  min-height: 206px;
  height: 100%;
  border-radius: 12px !important;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
  padding-top: 15px !important;
}
.promote_main p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.promote_main h6 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  margin: 6px 0px;
}
/* .promote_main img {
  height: 100%;
  min-height: 115px;
  object-fit: cover;
} */
.profile_task {
  height: 50px !important;
  width: 50px;
  /* object-fit: cover; */
}

img.blogImage {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.contactProfile.businesscard {
  position: relative;
  top: -58px;
}

.content_main{
  position: relative;
}

/**start css on 27 oct***/
main.page-wrapper.homepage_layout.commonpage_layout {
    float: left;
    width: 100%;
    min-height: 70vh;
    overflow-y: initial;
}
label.form-check-label {
    font-size: 15px;
}

.multitab-action .card-nav button.card-nav-link {
    background: transparent;
    position: relative;
    display: block;
    padding: 1rem 0;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;
    border-color: #efecf3;
    color: #32323c;
    text-decoration: none;
    border-width: 1px 0px 0px 0px;
    width: 100%;
    text-align: left;
    /* padding-left: 12px; */
}

.multitab-action img.rounded-circle.getContact_picture {
    height: 75px;
    object-fit: cover;
    min-width: 75px;
    padding: 3px;
    background: linear-gradient(45deg, #eeeeee, white);
    filter: drop-shadow(0px 2px 2px #000000);
}

.primary_areas input.form-control {
    margin-right: 10px;
}
.primary_areas select.form-select.form-select-lg {
    margin-right: 10px;
}

.multitab-action .product_transaction_summary img.getContact_picture {
    max-height: 150px;
    object-fit: cover;
    width: 150px;
    object-position: center;
}

.transaction_tips img {
    height: 100%;
    max-height: 100%;
}
.contactProfile.businesscard img.rounded-circle {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 5px solid white;
    background: #ffffff;
    max-height: 175px;
}
.ada_new_feature {
  float: right;
}
.table-responsive.activity_overview tr th {
    font-weight: 600;
    color: #242424;
    padding: 2px 8px;
}
.table-responsive.activity_overview tr td {
    padding: 6px 8px;
    font-size: 14px;
}
.content-overlay .card.card-hover.card-horizontal.transactions:hover {
    cursor: pointer;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.asdf {
  width: 100%;
  height: 100%;
}
.asdf canvas {
  width: 100% !important;
}
.singleListing .img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 310px;
  max-height: 264px;
}
.card-nav img.transacragent {
  width: 50px;
  height: 50px;
}
span.badge_require {
    /* position: absolute;
    right: 8px; */
    background: red;
    width: 22px;
    height: 22px;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
}

span.badge_require_task {
  background: #d9e0ec;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  color: #355b98;
  margin: 10px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
}

.product_transaction_summary a img {
    width: 75px;
    height: 75px;
}


.transaction_profile_section img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #e7e7e7;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31,27,45,.08), 0 0.25rem 0.75rem rgba(31,27,45,.08);
}

.multitab-action.transaction_bar .card-nav button.card-nav-link.active {
    /* background-image: linear-gradient(to right, #445985 , #1f242c00); */
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(243 243 227), #153849, rgba(56, 2, 155, 0));
    border-image-slice: 1;
}
.multitab-action.transaction_bar .card-nav button.card-nav-link:hover {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(243 243 227), #153849, rgba(56, 2, 155, 0));
    border-image-slice: 1;
}
.content_main img.pull-right {
    cursor: pointer;
}
.container_layout .right_sidebar_innerlayout {
    float: left;
    width: 100%;
    padding: 0px;
}
.container_layout .bg-secondary {
    padding-top: 0px!important;
}
.container_layout .content-overlay .row {
    margin-right: 0px;
}
.container_layout .right_sidebar_innerlayout .row .col-md-10 {
    margin-top: 36px;
}

.container_layout {
    float: left;
    width: 100%;
    padding-right: 28px;
}
.multitab-action.transaction_bar .card-nav .card-nav-link i {
    color: #ffffff;
    display: none;
}
.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link span.badge_require {
    /* left: 8px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: 17px; */
    margin-right: 12px;
}

.transaction_profile_section {
    cursor: pointer;
}
.transaction_property .accordion-item {
    float: left;
    width: 100%;
}
.transaction_property .accordion-collapse.collapse {
    float: left;
    width: 100%;
}
.transaction_property .accordion-body {
    float: left;
    width: 100%;
}
.transaction_profile_section label.col-form-label {
    cursor: pointer;
    font-size: 14px;
}
h6.note_description p {
    margin-bottom: 0px;
}
.commission_details .col-form-label {
    font-size: 14px;
    font-weight: 600;
}
.activelistingtype {
  border: 2px solid black;
}
.transaction_tips p {
    color: #ffffff;
}

.transaction_review object {
    width: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
}
.transaction_review a:hover, .transaction_review object a:hover {
    color: #000000;
    /* font-weight: 500; */
}

.pdf-checkbox .pdf-preview .react-pdf__Document img {
    margin-left: 48px;
    display: block;
    margin: -8px 0px -7px 58px;
    width: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.file_links a {
    background: #ececec;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
}
.file_links a p {
  margin-bottom: 0px;
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: initial;
}
.pdf-preview.preview_section canvas.react-pdf__Page__canvas {
    height: 100%!important;
    width: 100%!important;
}
.ada_new_feature .profile_thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    min-width: 50px;
    border: 2px solid #bdbdbd;
}
.user_attention_links a.btn.btn-info {
    font-size: 13px;
    /* padding: 6px; */
}
.post_details img {
  max-height: 100%;
}
.new_associates .card-body img.rounded-circlee {
  object-fit: cover;
  object-position: center;
  width: 145px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span a {
    color: #ffffff;
}

.rmsc.multi-select .dropdown-container {
    border: 1px solid var(--rmsc-border);
    border-radius: 6px;
}
.rmsc .dropdown-container .dropdown-heading {
    height: 44px;
}
.rbc-event, .rbc-day-slot .rbc-background-event {
    margin: -1px;
    padding: 0px 4px;
}
.rbc-month-header .rbc-header {
    font-size: 14px;
}
.onboard_document .react-pdf__Page__canvas {
  border: 1px solid green !important;
  /* display: block; */
  /* position: relative; */
  width: 70% !important; 
  height: 100% !important;
  /* margin-left: -66px !important; */
  border-radius: 12px !important;
  /* object-fit: cover; */
  margin: auto;
  margin-bottom: 16px;
}
.canvas_signature {
  width: 40%;
  margin: auto;
  float: none;
  margin-bottom: 12px;
}
.canvas_signature canvas.signature-canvas {
  width: 100%;
}
.onboard_document .react-pdf__Document {
  display: block;
  max-height: 940px;
    overflow-y: auto;
}
.onboard_document img.react-draggable {
  bottom: 16%;
  right: 7%;
  border: 1px solid #00000021;
}
.onboard_document .react-pdf__Page {
  background: transparent!important
}
.FeaturedBox .StandardItem.ProductItem .cat-icon {
    background-position: center!important;
}
.FeaturedBox .StandardItem.ProductItem {
    margin: 6px 0px 0px 0px;
}
.tns-item.tns-slide-cloned .card-body a:hover {
    color: #000000;
    font-weight: 500;
}
.promoted_product .card-img-hover img.img-fluid {
    border-top-left-radius: var(--fi-card-inner-border-radius)!important;
    border-top-right-radius: var(--fi-card-inner-border-radius)!important;
}
.product_images {
    position: relative;
}
.productItemImage .delete_data img {
    position: absolute;
    right: -3px;
    width: 20px;
    top: -7px;
    cursor: pointer;
    border-radius: 100%;
}
.product_images img {
    object-fit: cover;
    max-height: 125px;
}
i:hover {
    color: #000000;
}
.businesscard h6.user_designation {
    color: #445985;
}
img.rounded-circle.getContact_picture {
    border: 2px solid #bdbdbd;
}
.private_contacts ul.nav.nav-tabs li.nav-item {
    text-align: center;
    display: initial;
    padding: 0 22px;
    transition: transform .2s;
    transform: scale(1);
    cursor: pointer;
}
.private_contacts ul.nav.nav-tabs li.nav-item:hover {
transform: scale(1.05);
}
.private_contacts ul.nav.nav-tabs .nav-link {
    border-radius: 100%;
    box-shadow: none;
    background-color: #e3e2e6;
    color: #454056;
    font-weight: normal;
    text-align: center;
    height: 55px;
    width: 55px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #445985;
    margin-bottom: 8px !important;
}
.private_contacts ul.nav.nav-tabs .nav-link i.fa {
    margin: 0px !important;
    font-size: 20px;
}

.notes-main img.rounded-circle.image-note {
    max-height: 70px;
    min-height: 70px;
    width: 70px;
    min-width: 70px;
    object-fit: cover;
    border: 4px solid #e7e7e7;
    background: #ffffff;
    padding: 2px;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31,27,45,.08), 0 0.25rem 0.75rem rgba(31,27,45,.08);
}
.tox .tox-notification--in {
    opacity:0!important;
}
.onboarding p {
    font-size: 14px;
}
.onboarding input.form-check-input {
    max-width: 16px;
    min-width: 16px;
}
.onboarding label.form-label {
    font-size: 14px;
    /*min-height: 40px;*/
}
.onboarding .onboard_iframe iframe {
    height: 1185px;
}
.onboard_document .react-pdf__Document.onboarding canvas.react-pdf__Page__canvas {
    margin: initial;
    width: 100%!important;
    margin-bottom: 12px;
}
.thank_you img {
    width: 80%;
    max-height: 100%;
}
.accordion-button .inapprovalassociates {
    font-size: 15px;
    font-weight: 500;
}
.imageProperty {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}
.caledar_view .rbc-row {
    line-height: 14px;
}
.caledar_view .rbc-date-cell {
    font-size: 12px;
    /* line-height: 14px; */
}
.image-gallery .image-gallery-slides {
    text-align: left;
}
.catalog_product h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
    width: 100%;
}
.profile_page_wrap span i.fa.fa-star-o {
    cursor: pointer;
}
.NotSetup img.img-fluid {
    object-fit: cover;
    object-position: center;
}
.featured_bg {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    background-attachment: fixed!important;
    position: relative;
    float: left;
    width: 100%;
}
.blog_details {
    background: #ffffff;
}
.choose_options .form-group {
    border: 1px solid #efecf3;
    background-color: transparent;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08), 0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
}
.promoted_product .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover {
    transition: transform .3s!important;
    transform: scale(1);
    cursor: pointer;
}
.promoted_product .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover:hover {
   transform: scale(1.02);
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover {
    transition: transform .3s!important;
    transform: scale(1);
    cursor: pointer;
}
.FeaturedBox .col-lg-3 .card.shadow-sm.cursor-pointer.card-hover:hover {
     transform: scale(1.02);
}
.contact_type {
    position: relative;
}
.contact_type:after {
    content: '';
    position: absolute;
    left: 50%;
    border-left: 1px solid #dfdfe0;
    height: 88%;
    top: 10%;
}
.content_main .card.bg-secondary {
    float: left;
    /* width: 47%; */
    margin: 10px 5px;
}

.tooltiptext {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #b7b7b7;
  cursor: pointer;
}

.col-form-label:hover .gray-text{
 display: block !important;
}

.gray-text {
  display: none;
  min-width: 310px;
  background-color: #ffffff;
  color: #000000;
  float: left;
  position: absolute;
  left: 0px;
  z-index: 11;
  font-size: 14px!important;
  line-height: 20px;
  padding: 2%;
  font-weight: 300;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
}

.transactionImage .card-img-top img.img-fluid {
  min-height: 100px;
}

.document_action span {
  position: relative;
}

.document_action i.fi-trash {
     position: absolute;
    right: -2px;
    font-size: 12px;
    background: #ffffff;
    color: red;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    padding: 4px;
    justify-content: center;
    display: flex;
    border: 1px solid #32323c;
    top: -8px;
    cursor: pointer;
}

.content_main .card.bg-secondary .card-body {
  background: whitesmoke;
  text-align: center;
  border-radius: 12px;
}
.edit_delete_action i.h2 {
    font-size: 14px;
    cursor: pointer;
        margin: 0px;
}
.edit_delete_action i.h2.fi-trash {
    color: red;
}
.content_main .view_profile {
    float: left;
    width: 100%;
    text-align: start;
    display: grid;
    justify-content: start;
}
.content_main .view_profile img {
    text-align: center;
    float: none;
    margin: auto;
    border-radius: 100%;
    border: 4px solid #e7e7e7;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31,27,45,.08), 0 0.25rem 0.75rem rgba(31,27,45,.08);
}
.content_main .view_profile span p {
    margin-bottom: 0px;
}

.content_main .card-body .view_profile span h6 {
    font-size: 13px;
    text-align: left;
}
.content_main .card-body .view_profile span h6 i.h2.fi-phone {
    font-size: 14px;
}
.content_main .view_profile span {
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 6px;
    font-size: 13px;
}
.edit_delete_action i.h2.fi-trash {
    margin-right: 25px;
}

i.h2 {
    font-size: 14px;
}
.agent_transaction_notifications .table > :not(caption) > * > * {
    border-bottom-width: 0px;
}
.agent_transaction_notifications tr td {
    padding: 4px;
    vertical-align: middle;
}
.agent_transaction_notifications tr td:first-child {
    width: 30%;
}
.status_bar button.btn {
 background-color: var(--branding-main-color);
  border-color: #747474;
  color: #ffffff;
  float: left;
  width: 18.111%;
  border-radius: 22px;
  margin-right: -30px;
  padding: 3px;
}
.documentverify.transaction_doc .react-pdf__Page {
    margin-bottom: 18px;
}
.documentverify.transaction_doc .react-pdf__Document {
    display: inline-block;
    margin: auto;
    float: none;
    width: 50%;
}
.documentverify.transaction_doc {
    display: flex;
}
.steper .steps {
    display: flex;
    padding-top: 1rem;
    margin: auto;
    width: 50%;
}
.steper .step-progress .step-number {
    background: #edebeb;
}
.steper .step.active .step-number {
    background-color: #2c3e50!important;
}

.rate_my_agent {
    background: #d7e3fe;
}
.rate_my_agent .nav-tabs .nav-link.active {
    background: #445985;
    color: #ffffff;
}
/* 
p {
    color: #ffffff;
} */
/* .form-label {
    color: #ffffff;
}
fieldset h6 {
    color: #ffffff;
}
.homepage_layout aside li {
    color: #ffffff;
}

body {
    color: #ffffff;
}
.form-select {
    color: #ffffff;
}
.pagination .page-item a {

    color: #ffffff;
} */

/**end  css***/





/**start responsive css***/

@media only screen and (max-width: 1600px) {

.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link {
    width: 14.333%!important;
    padding: 1rem 0;
    justify-content: left;
}

}


@media only screen and (max-width: 1400px) {

  .transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link {
       width: 30.333% !important;
    }
 
.homepage_layout aside.left_sidebar {
    width: 4%;
}
.right_sidebar {
    width: 96%;
}

.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link span.badge_require {
    width: 18px;
    height: 18px;
    font-size: 10px;
}


}

@media only screen and (max-width: 1200px) {
.sigin_user_layout {
    max-width: 75%;
}
.status_bar button.btn {
    width: 16.5%;
    margin-right: -30px;
    font-size: 10px;
    margin-bottom: 4px;
}

}

@media only screen and (max-width: 1024px) {
.homepage_layout aside.left_sidebar.active {
  width: 27%;
}
.homepage_layout aside.left_sidebar {
    width: 6%;
}


}

@media only screen and (max-width: 991px) {

 header.navbar.navbar-expand-lg.navbar-dark .quote-container {
    display: none; /* Hide on mobile devices */
  }
main.page-wrapper.profile_page_wrap.w-75 {
    width: 100% !important;
}
.right_sidebar .transaction_tab_view .content_main .card.bg-secondary {
    float: left;
    width: 100%;
    overflow-x: auto;
}


}

@media only screen and (max-width: 768px) {

.callout.accent.page div#ReportMonthChoice {
    overflow: hidden;
    overflow-x: auto;
}
table#DepositReport tr td {
    font-size: 14px;
}


  .content-overlay .card.card-hover .card-body span {
    font-size: 12px;
}
.content-overlay .card.card-hover .card-body span a i.fi-info-circle {
    font-size: 16px !important;
}

.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link {
    width: 45.333% !important;
}
.homepage_layout aside.left_sidebar {
  width: 8%;
}
.right_sidebar {
    width: 92%;
}
.agent_details .online_users span {
    width: 33.333%;
}

.step-number {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -1rem;
    margin-left: -1rem;
    line-height: 1.5rem;
}

.accordion-button .inapprovalassociates {
    display: inline-block!important;
}
.singleListing .img-fluid {
    min-height: 235px!important;
    max-height: 235px!important;
}
.accordion-button .inapprovalassociates .pull-right.tags-badge {
    display: inline-block!important;
    margin-top: 22px;
}


.contact_type:after {
  border-left: none;
}
  #document {
    font-size: 18px;
}
 #text-document {
    margin-left: 20px;
} 
.multitab-action .card-nav button.card-nav-link {
    font-size: 14px;
}
.multitab-action a.btn.btn-outline-secondary {
    margin-top: 12px;
}
.multitab-action .product_transaction_summary img.getContact_picture {
    margin-bottom: 6px;
}
.transaction_tips h2 {
    font-size: 16px;
}
.transaction_tips p.pb-2.fs-lg {
    font-size: 13px!important;
}
.card.card-hover.card-horizontal.transactions a.card-img-top {
    max-width: 100%;
    min-width: 100%;
}
.card.card-hover.card-horizontal.transactions .card-body {
    padding: 0px;
    margin-top: 12px;
}
.btn {
    font-size: 12px;
}
 .btn.btn-info {
    font-size: 12px;
    --fi-btn-padding-y: 0.425rem;
    --fi-btn-padding-x: 1rem;
} 
 .card .card-body .list-unstyled li {
    font-size: 13px;
} 
.card .card-body .list-unstyled li img {
    width: 14px;
}
.file-uploader {
    font-size: 12px;
}
  small.pull-right {
    font-size: 11px;
    float: left;
    width: 100%;
}
  .file-uploader input#fileUpload {
    font-size: 13px;
}
  .product_vendors .d-flex.align-items-center.justify-content-between {
    display: inline-block!important;
    /* margin-bottom: 32px!important; */
}
.product_vendors .align-items-center.justify-content-between span.pull-right {
    float: left!important;
    margin-top: 16px;
}
  .FeaturedBox .small-12.medium-3.large-3.columns {
    float: left;
    width: 50%;
}
.FeaturedBox .StandardItem.ProductItem .cat-icon {
    height: 145px;
}
.select2-container {
    width: 100%!important;
}
.sigin_user_layout {
    padding: 14px;
}
select.form-select {
    font-size: 12px;
}
.invite_contacts .card-body p a .fa.fa-envelope {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invite_contacts .card.card-hover span {
    margin-right: 12px;
}
.tags-badge badge:before {
    border-left: 3px solid #9A9B9D;
    height: 21px;
    position: absolute;
    left: -8px;
}
.invite_contacts input.checkinvite {
    margin: 0 12px!important;
}
span.pull-right.tags-badge badge {
    margin-left: 60px;
    font-size: 12px!important;
}
.invite_contacts strong {
    font-size: 12px;
}
  .invite_contacts .card.card-hover {
    max-width: 100%;
    overflow-x: auto;
}
  .invite_contacts .card-body img.rounded-circle.profile_picture {
    width: 50px!important;
    height: 50px!important;
    border: 1px solid #445985!important;
    padding: 2px!important;
    min-width: 50px!important;
    min-height: 50px!important;
}

.accordion-item .accordion-button {
    font-size: 12px;
    margin-right: 4px;
}
.accordion-body {
    font-size: 13px;
}
.accordion-item .dropdown-toggle::after {
    font-size: 9px!important;
}
.btn.btn-primary {
    font-size: 12px!important;
    padding: 8px 10px;
}
.btn-secondary {
font-size: 12px!important;
padding: 8px 10px;
}
.form-control {font-size: 12px;}
h5 {font-size: 14px;}
.form-label {font-size: 13px;}
label.form-check-label {font-size: 13px;}
p {font-size: 13px;}
h6 {font-size: 14px;}
h3 {font-size: 16px!important;}
h3.icon-box-title.fs-base {font-size: 13px!important;}
a {font-size: 13px;}
.rbc-month-header .rbc-header {
    font-size: 12px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark i.fa.fa-bars {
    font-size: 16px;
    line-height: 12px;
    height: 20px;
    width: 20px;
}
a.navbar-brand {
    margin: 0 10px 0px 10px!important;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
    /* width: 100%; */
    max-height: 30px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark a.btn.btn-info {
font-size: 10px;
margin-top: 0px!important;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span {
    font-size: 11px;
    line-height: 8px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span a {
    font-size: 11px;
}
.ada_new_feature .profile_thumbnail {
    height: 35px;
    width: 35px;
    min-width: 35px;
}
.homepage_layout aside.left_sidebar.active {
    width: 30%;
}
.platform_features span {
    width: 25%;
    font-size: 10px;
    margin-bottom: 20px;
}
.platform_features span i.fa {
    max-width: 35px;
    height: 35px;
    font-size: 16px;
}
.bg-secondary {
    margin-top: 110px;
}
.file_links_section {
    /* margin-bottom: 20px; */
    min-height: 220px;
}
.my_files {
    margin-bottom: 20px;
}
.stories_blog_section a.nav-link {
    font-size: 12px;
    padding: 6px 6px;
    margin-bottom: 12px;
}
.blog_details span {
    padding: 8px 12px;
}
.blog_details img.img-fluid {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}
.blog_details span h6, .blog_details span p {
    margin-left: 0px;
}
.search_bar {
    font-size: 12px;
}
.agent_hub_section p {
    font-size: 14px;
}
.file_links_section p b {
    font-size: 12px;
}
.blog_details span h6 {
    font-size: 14px;
}
.blog_details span p {
    font-size: 12px;
}
.share_progress {
    font-size: 12px;
}
.comments_progress {
    font-size: 12px;
}
ul.pagination a.page-link {
    font-size: 12px;
    padding: 0 6px;
}
.rbc-toolbar button {
    font-size: 10px;
}
.rbc-toolbar {
    font-size: 12px;
}
.rbc-toolbar .rbc-toolbar-label {
    margin-top: 10px;
    font-size: 11px;
}
.rbc-date-cell {
    font-size: 10px;
}
main.page-wrapper.homepage_layout .rbc-calendar {
  font-size: 11px;
}
.agent_details p {
    font-size: 12px;
}
.agent_details img {
    max-height: 75px;
}
/* .agent_details span {
    width: 100%;
    margin-left: 0px;
} */
.agent_details span p {
    font-size: 12px;
}
.stories_blog_section {
    margin-top: 0px!important;
}
.stories_blog_section .nav-tabs {
    margin-bottom: 0px;
}
.views_progress {
    font-size: 12px;
}
.file_links_section ul li {
    font-size: 12px;
}
.footer p {
    font-size: 13px;
    margin-bottom: 8px;
}
footer.footer.bg-dark {
    padding-top: 16px!important;
}
.footer p b {
    font-size: 14px;
}
.footer .btn-icon.btn-xs {
    width: 1rem;
    height: 1rem;
    margin-bottom: 16px;
    font-size: 10px;
}
.right_sidebar_innerlayout {
    padding: 16px;
    padding: 8px 0px;
}
.stories_blog_section span {
    width: 100%;
}
.blog_details a.pull-right {
    font-size: 10px;
}
.person-img {
    width: 100%;
    height: 100px;
}
.homepage_layout aside.left_sidebar {
    top: 86px;
}
.left_sidebar ul li a {
    font-size: 12px;
}

.views_click span.pull-right.tags-badge badge {
    margin-left: 6px;
    font-size: 11px!important;
}
.views_click h6 {
    margin-bottom: 6px!important;
    margin-left: 12px!important;
    font-size: 11px;
}
.views_click {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.views_click .tags-badge badge:before {
    height: 17px;
    left: -11px;
}
.sigin_user_layout {
    max-width: 100%;
}
.office_type {
    font-size: 14px;
    font-weight: 600;
}
/* .office_status {
    float: left;
    width: 100%;
    margin-bottom: 12px!important;
} */
img.remove_icon {
    width: 15px;
}
.contactProfile.businesscard img.rounded-circle {
    width: 100px;
    height: 100px;
}


}

@media only screen and (max-width: 480px) {
/*  
.contactProfile.businesscard {
    top: initial;
    float: left;
    width: 100%; 
    margin-bottom: 26px;
} */
.reservation_details img.img-fluid {
    min-width: 100%!important;
    height: 100%!important;
    max-height: 100%!important;
}
.right_sidebar_innerlayout .table-responsive table.table.table-striped thead tr th {
    font-size: 14px;
}
.transaction_tab_view .multitab-action.transaction_bar .card-nav .card-nav-link {
    width: 100% !important;
}
#msform fieldset {
    position: initial!important;
}
.private_contacts ul.nav.nav-tabs li.nav-item {
    padding: 8px 14px;
}
.right_sidebar.active {
    width: 85%;
}
.footer {
    padding-left: 16%!important;
}

header.navbar.navbar-expand-lg.navbar-dark .container {
    flex-wrap: initial;
}
.user_attention_links i.h2 {
    font-size: 22px;
}
.right_sidebar {
    float: left;
    width: 87%;
    margin-left: 44px;
}
.homepage_layout aside.left_sidebar ul {
    padding-left: 12px;
}
    .homepage_layout aside.left_sidebar {
        width: 13%;
    }
  .homepage_layout aside.left_sidebar.active {
      width: 60%;
    }
.contact_info .card.card-horizontal {
    text-align: center;
}
.contact_info .card.card-horizontal img {
    width: 140px!important;
    margin-bottom: 6px;
    height: 140px;
}
.property_banner .landingImage img {
    min-height: 300px!important;
    max-height: 300px;
}

.add_listing .contactProfile.businesscard {
    top: -10px;
    margin-bottom: 40px;
}
.list-unstyled li {
    font-size: 13px;
    padding-right: 8px;
}
.property_overview b {
    font-size: 14px;
}
.property_overview h3 {
    font-size: 16px!important;
}
.property_overview .col-md-2 {
    margin-right: 14px;
}

.tab-content.showblog_category .blog_details {
    display: block;
}
  .status_bar button.btn {
    width: 50%;
    margin-right: 0px;
    font-size: 10px;

}
  .agent_transaction_notifications tr td:first-child {
    width: 100%;
}
  .container_layout {
    float: left;
    width: 94%;
    margin: 0 12px;
    padding-right: 0px;
}
.content_main .card.bg-secondary {
    float: left;
    width: 48%;
    margin: 10px 3px;
}
.SuppressText img {
    width: 16px;
}
  .rmsc .dropdown-container .dropdown-heading {
    height: 36px;
    font-size: 12px;
}
  img.rounded-circle.profile_picture {
    width: 50px;
    height: 50px;
    border: 3px solid #445985;
    padding: 4px;
    min-width: 50px;
    min-height: 50px;
}
.pull-right.my_contacts.tags-badge.d-flex.align-items-center.justify-content-end.w-100 {
    display: flow-root!important;
    float: left!important;
    width: 100%!important;
    margin-top: 10px;
    text-align: start;
}
.pull-right.my_contacts.tags-badge.d-flex.align-items-center.justify-content-end.w-100 badge {
    margin: 7px!important;
}
.tags-badge badge:before {
    border-left: none!important;
    
}

  .card.select_contact .view_profile img {
    float: left;
    width: 60px!important;
    height: 60px;
}
  .select_property.card.card-hover.card-horizontal.transactions {
    flex-direction: row;
}
.select_property.card.card-hover.card-horizontal.transactions.shadow-sm .card-body {
    margin-top: 0px;
}
.select_property.card.card-hover.card-horizontal.transactions.shadow-sm a.card-img-top {
    max-width: 30%;
    min-width: 30%;
}
  .choose_options {
    margin: initial!important;
    float: left!important;
    width: 100%!important;
    /* background-color: #ffffff; */
}
.views_click p {
    font-size: 13px!important;
    margin-left: 4px!important;
    margin-bottom: 0px;
}
.nav-tabs .nav-item a.nav-link {
    padding: 0.5rem 0.5rem;
    font-size: 15px;
}
.onboard_iframe iframe {
  height: 600px !important;
}
.document_description {
    float: left;
    width: 100%;
}
.tags-badge img.close_contact {
  margin-top: -71px;
}

.tox.tox-silver-sink.tox-tinymce-aux .tox-notifications-container .tox-notification.tox-notification--in.tox-notification--warning {
  opacity: 0!important;
}


}
/**end responsive css***/



.multitab-action.transaction_bar .card-nav .card-nav-link {
    border: none;
    color: #ffffff;
    padding: 1rem 0.65rem;
    font-size: 14px;
}
.multitab-action.transaction_bar .card-nav button.card-nav-link::before {
    left: -0.24rem;
    width: 0.1rem;
    background-color:transparent;
    border-left: none;
}

.multitab-action.transaction_bar .card-nav-link {
    border-top: 1px solid #464646;
}

/*multisteper css start*/ 

.choose_options .pagination .page-item a {
    color: #000000;
}
.choose_options .pagination .page-item a:hover {
    color: #000000;
}
.choose_options .pagination .page-item.active a.page-link {
    background: #d8d8d8;
    color: #32323c!important;
}
.modal .pagination .page-item a {
    color: #000000;
}
.modal .pagination .page-item a:hover {
    color: #000000;
}
.modal .pagination .page-item.active a.page-link {
    background: #d8d8d8;
    color: #32323c!important;
}
.pagination .page-item a {
    font-size: 14px;
    padding: 3px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    color: #ffffff;
}
.social-login {
   width: 50%;
    position: relative;
    margin: auto;

}
h4.or-border {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 24px;
    color: #141F3E;
}
h4.or-border span {
    background: #ffffff;
    padding: 2px 14px;
    z-index: 1;
    position: relative;
    font-size: 16px;
    color: #696B6D;
    font-weight: 500;
    left: 40%;

}
h4.or-border:after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid #E6E6E7;
    position: relative;
    top: -11px;
}
.choose_options .nav-tabs .nav-link {
    font-size: 15px;
}
.choose_options {
  /* margin: auto;
  float: none; */
  width: 100%;
  /* background-color: #ffffff; */
  max-height: 450px;
  overflow-y: auto;
}
.choose_options label.col-form-label {
    text-align: left;
    width: 100%;
}
.choose_options input.form-control, .choose_options select  {
    font-size: 15px;
  /*padding-left: 0px;
    padding-top: 0px;*/
    /* background: transparent; */
}
.choose_options input.form-control:focus, .choose_options select:focus {
    outline: 0;
    box-shadow: none;
}
/* .msform fieldset.contact_list {
  height: 100vh; 
     position: unset!important; 
} */
#msform {
  float: left;
  width: 100%;
  position: relative;
  /* height: 100vh; */
}
#msform fieldset {
  /* border: 1px solid; */
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}
.choose_options .btn.btn-primary {
    background-color: transparent !important;
    color: #000000 !important;
    border: 1px solid #8b8b8b !important;
}
.choose_options .btn.btn-primary:hover {
    box-shadow: 0 0.125rem 8rem 2rem rgb(60 56 77 / 8%), 0 0.25rem 1rem 0px rgb(24 24 25 / 8%)!important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
/* #msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
} */

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}
img.prop-property-img {
  width: 100%;
  object-fit: cover;
}


/* multisteper css END */

.media_images .card-img-top {
  width: 100%;
  min-width: 100%;
}
.media_images {
  width: 450px;
}

.property_thumb {
  float: left;
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin-top: 12px;
}
.media_images .card-img-top img.img-fluid {
  width: 100%;
}
.property_thumb img.media-image {
  height: 65px;
  width: 65px;
  margin-right: 9px;
  object-fit: cover;
}
.property_banner .slick-dots {
  bottom: 20px;
  
}
.property_banner .slick-dots li button:before {
  font-size: 16px;
}

.property_banner .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffffff;
  z-index: 11;
}

.property_banner .slick-dots li button:before {
  opacity: 1;
  color: #434343;
  z-index: 11;
}
.property_banner .single-property-details {
    position: absolute;
    bottom: 60px;
    left: 18px;
    z-index: 11;
}
.property_banner {
    position: relative;
}
.single-property-details h2, .single-property-details h3  {
    color: #ffffff;
    line-height: 30px;
    text-shadow: 0 3px 1px rgba(32,36,55,0.5);
}
.property_banner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 7px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    z-index: 2;
    pointer-events: none;
    /* border-radius: 0px 0px 12px 12px; */
}

.property_gallary .slick-prev:before, .property_gallary .slick-next:before {
    color: #080808;

}

.property_gallary img.img-fluid {
  height: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
  margin: 2%;
  width: 96%!important;
}
.property_gallary .slick-dots {
    bottom: -18px;
}
.property_gallary .slick-prev {
    left: -17px;
}
.property_gallary .slick-next {
    right: -17px;
}
.property_banner .landingImage img {
  min-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 0px;
  max-height: 500px;
}

.quote-container {
  display: block; 
}

@media only screen and (max-width: 768px) {

  .report_bug {
    right: -28px!important;
}

 
}
.review_image{
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}
  

.review_description{
  width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.welcome_msg {
  position: relative;
}

.welcome_msg canvas {
  width: 100%;
}

.confetti-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* .property_gallary .slick-prev {
    left: -10px;
    z-index: 1;
}
.property_gallary .slick-next {
    right: -10px;
    z-index: 1;
} */


.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.mail-box .sm-side {
  background: none repeat scroll 0 0 #e5e8ef;
  border-radius: 4px 0 0 4px;
  width: 25%;
}
.mail-box .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 4px 4px 0;
  width: 75%;
}
.mail-box .sm-side .user-head {
  background: none repeat scroll 0 0 #00a8b3;
  border-radius: 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 10px;
}
.user-head .inbox-avatar {
  float: left;
  width: 65px;
}
.user-head .inbox-avatar img {
  border-radius: 4px;
}
.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px;
}
.user-head .user-name h5 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px;
}
.user-head .user-name h5 a {
  color: #fff;
}
.user-head .user-name span a {
  color: #87e2e7;
  font-size: 12px;
}
a.mail-dropdown {
  background: none repeat scroll 0 0 #80d3d9;
  border-radius: 2px;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px;
}
.inbox-body {
  padding: 20px;
}
.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}
.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff;
}
ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.inbox-divider {
  border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}
ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #313543;
  color: #cdc2c2;
}
ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px;
}
ul.inbox-nav li a span.label {
  margin-top: 13px;
}
ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
}
ul.labels-info li {
  margin: 0;
}
ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}
ul.labels-info li a i {
  padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px;
}
.inbox-head {
  background: none repeat scroll 0 0 #41cac0;
  border-radius: 0 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 20px;
}
.inbox-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px;
}
.inbox-head .sr-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px;
}
.inbox-head .sr-btn {
  background: none repeat scroll 0 0 #00a6b2;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
}
.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0;
}
.table-inbox tr td {
  padding: 12px !important;
}
.table-inbox tr td:hover {
  cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
  color: #f78a09;
}
.table-inbox tr td .fa-star {
  color: #d5d5d5;
}
.table-inbox tr.unread td {
  background: none repeat scroll 0 0 #f7f7f7;
  font-weight: 600;
}
ul.inbox-pagination {
  float: right;
}
ul.inbox-pagination li {
  float: left;
}
.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
  margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 10px;
}
.inbox-pagination a.np-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 15px;
}
.mail-option .chk-all input[type="checkbox"] {
  margin-top: 0;
}
.mail-option .btn-group a.all {
  border: medium none;
  padding: 0;
}
.inbox-pagination a.np-btn {
  margin-left: 5px;
}
.inbox-pagination li span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;
}
.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}
.btn-send, .btn-send:hover {
  background: none repeat scroll 0 0 #00a8b3;
  color: #fff;
}
.btn-send:hover {
  background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.modal-body label {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}
.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.sender-info {
  margin-bottom: 20px;
}
.sender-info img {
  height: 30px;
  width: 30px;
}
.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px;
}
.view-mail a {
  color: #ff6c60;
}
.attachment-mail {
  margin-top: 30px;
}
.attachment-mail ul {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.attachment-mail ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px;
}
.attachment-mail ul li img {
  width: 100%;
}
.attachment-mail ul li span {
  float: right;
}
.attachment-mail .file-name {
  float: left;
}
.attachment-mail .links {
  display: inline-block;
  width: 100%;
}

.fileinput-button {
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative;
}
.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}
* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px;
}
@media (max-width: 767px) {
.files .btn span {
  display: none;
}
.files .preview * {
  width: 40px;
}
.files .name * {
  display: inline-block;
  width: 80px;
  word-wrap: break-word;
}
.files .progress {
  width: 20px;
}
.files .delete {
  width: 60px;
}
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.event-calender .rbc-event {
  background-color: #151e43 !important;
}

.demo-editor.rdw-editor-main {
  height: 200px;
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: 1px solid #265985;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
  margin-top: -18px !important;
  height: 37px !important;
}
.rbc-month-view {
  position: relative;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  margin-top: 30px;
}

.printTempalte_one img {
  width: 100%;
  min-height: 150px;
  object-fit: cover;
  object-position: center;
}


div#submitInprogress {
  background-color: rgba(0,0,0,0.8);
}


.report_bug {
  position: fixed;
  z-index: 111;
  right: -47px;
  top: 50%;
  transform: rotate(270deg);
}

.report_bug button.btn.btn-primary {
  box-shadow: 0px 0px 26px #000000;
}
div#reportbug {
  background-color: rgba(0,0,0,0.8);
}


.choose_options .form-check-input {
  border: 2px solid white;
}

.col-sm-12.member_group {
  width: 100%;
  padding: 8px;
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #d5d2dc;;
}

.member_Associate{
 width: 100%;
 border: 1px solid #d5d2dc;
 border-radius: 0.5rem;
}

.groupMail_delete i.h2.fi-trash {
  margin-left: 100px;
  color: red;
}

.reservation_calender {
  border: 1px solid gainsboro;
  padding: 14px;
}

.row.configure_schedule {
  border: 1px solid gainsboro;
  margin: 65px;
  padding: 10px;
}



.reservation_description {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.reservation_details {
  float: left;
  /* width: 100%; */
  /* padding: 0px; */
  /* margin: 10px 0px; */
 overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.reservation_details img.img-fluid {
  min-width: 300px;
  height: 250px;
  max-height: 250px;
  object-fit: initial;
  object-position: center;
  border-radius: 6px 0px 0px 6px;
  float: left;
  transition: transform .5s ease;
  /* overflow: hidden; */
  cursor: pointer;
}


div#notice {
  background-color: rgba(0, 0, 0, 0.8);
}

textarea#textarea-input-market_calender {
  height: 58px;
}

span.notice_bages {
  right: 0;
  background: #000000;
  width: 31px;
  height: 25px;
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 4px;
  /* margin: 10px; */
}


.rbc-event, .rbc-day-slot .rbc-background-event {
    padding: 2.6px 5px!important;
}
a.learn_more {
    font-size: 13px;
    color: #151e43;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.special_days table tr td {
  margin: 4px 0px;
}
.sigin_user_layout .needs-validation span sub {
    color: #ffffff;
}
.sigin_user_bg .sigin_user_layout .needs-validation label a.pull-right {
    color: #ffffff;
}

h6.mb-2.pull-right.receving_agent {
  padding-right: 72px;
}

.hire_coordinator p {
    font-size: 18px;
}




/* flyer */
.flyer-container {
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.header,
.description {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  border: 1px dashed transparent;
  cursor: pointer;
  padding: 10px;
}

.image-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-slot {
  width: 150px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.upload-icon {
  font-size: 16px;
  color: gray;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

.popup button {
  padding: 5px 10px;
  cursor: pointer;
}

.postCardsTemplate {
  float: none;
  max-width: 80%;
  padding: 10px;
  background: #b4a3a359;
  margin: auto;
}

.propertyCardsTemplate {
  float: none;
  max-width: 80%;
  padding: 10px;
  background: #b4a3a359;
  margin: auto;
}

.firstTemplate {
  float: none;
  max-width: 65%;
  padding: 10px;
  background: #b4a3a359;
  margin: auto;
}

.col-md-12.Brochure_description p {
    color: white;
    background-color: var(--branding-footer-color);
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}



section.row.mt-3.Brochure_propertyData {
  background: #c9d6cf;
  border-radius: 28px;
  padding: 10px 10px;
  margin: 3px;
}

.sixTemplate{
  float: none;
  max-width: 65%;
  padding: 10px;
  background: #c7cad0b0;
  margin: auto;
}


.fifthTemplate{
  float: none;
  max-width: 65%;
  padding: 10px;
  background: #dbdbdbb0;
  margin: auto;
}
.fourthTemplate {
  float: none;
  max-width: 65%;
  padding: 10px;
  background: #e6e9efb0;
  margin: auto;
}

.thirdTemplate {
  float: none;
  max-width: 65%;
  padding: 10px;
  background: #26221e;
  margin: auto;
}

.printTemplate_one .col-md-6 img.img-fluid {
  min-height: 102px;
  height: 167px;
}

.col-md-12.singleListing {
  position: relative;
}

label.documentlabelNew {
  position: absolute;
  right: 11px;
  vertical-align: middle;
  top: 9px;
}
label.documentlabelNew i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
  margin: 86px;
}



label.documentlabelSecond {
  position: absolute;
  right: 23px;
  vertical-align: middle;
  top: 100px;
}
label.documentlabelSecond i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentlabelThird {
  position: absolute;
  vertical-align: middle;
  margin-left: -42px;
  margin-top: 10px;
}
label.documentlabelThird i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}


label.documentlabelAllImage i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}



label.documentlabelAllImage {
  position: absolute;
  right: 11px;
  vertical-align: middle;
  top: 9px;
}

.proprty_mediaImage {
  position: relative;
}


label.documentPropertyLogo i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentPropertyLogo {
  position: absolute;
  vertical-align: middle;
  /* top: 20px; */
}

.documentPropertyLogo input[type="file"] {
  display: none;
}



label.documentPropertlabel i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

.labelCardsTemplate{
    float: none;
    max-width: 80%;
    padding: 10px;
    background: #7f7676;
    margin: auto;
}

label.documentPropertlabel {
  position: absolute;
  vertical-align: middle;
  /* right: 45px; */
  top: 8px;
  right: 9px;
}

.documentPropertlabel input[type="file"] {
  display: none;
}



label.documentlabelPostCards i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentlabelPostCards {
  position: absolute;
  vertical-align: middle;
  bottom: 261px;
  right: 45px;
}

.documentlabelPostCards input[type="file"] {
  display: none;
}


label.documentPostCardsSecond i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentPostCardsSecond {
  position: absolute;
  vertical-align: middle;
  right: 148px;
}

.documentPostCardsSecond input[type="file"] {
  display: none;
}



label.imagePostCardSecond i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.imagePostCardSecond {
  position: absolute;
  vertical-align: middle;
  right: 12px;
}

.imagePostCardSecond input[type="file"] {
  display: none;
}



label.imagePostCardThird i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.imagePostCardThird {
  position: absolute;
  vertical-align: middle;
  right: 39%;
}

.imagePostCardThird input[type="file"] {
  display: none;
}


label.imagePostCardFour i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.imagePostCardFour {
  position: absolute;
  vertical-align: middle;
  right: 148px;
}

.imagePostCardFour input[type="file"] {
  display: none;
}



label.documentNonListedThird i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentNonListedThird {
  position: absolute;
  right: 52%;
  top: 123px;
}

.documentNonListedThird input[type="file"] {
  display: none;
}

label.documentImageBrochureSeven i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentImageBrochureSeven {
  position: absolute;
  right: 52%;
  top: 123px;
}

.documentImageBrochureSeven input[type="file"] {
  display: none;
}


label.documentlabelAllLogo i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentlabelAllLogo {
  position: absolute;
  vertical-align: middle;
  top: 20px;
}


label.documentlabelContact i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentlabelContact {
  vertical-align: top;
}


label.documentlabelAllSecond i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

label.documentlabelAllSecond {
  position: relative;
  left: 10px;
  vertical-align: middle;
}


label.documentlabelAllThird {
  position: relative;
  left: 10px;
  vertical-align: middle;
  top: 0px;
}

label.documentlabelAllThird i.h2.fi-edit {
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  padding: 16px;
}

.pull-right.imageLogo {
  position: relative;
}

.row.proprty_background {
  background: #2e3339;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 16px;
}

.row.mt-2.contact_background {
  background-color: var(--branding-footer-color);
  padding: 9px 27px;
  margin: 8px;
  border-radius: 16px;
}

.row.mt-5.contact_background {
  background-color: var(--branding-footer-color);
  padding: 9px 27px;
  margin: 8px;
  border-radius: 16px;
}

.contact_postCards {
  background-color: var(--branding-footer-color);
  padding: 10px 13px;
  margin: 0px;
  height: 170px;
  position: relative;
}


.description_PrintPageSecond{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 13px;
  text-align: justify;
}


.description_PrintPage {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  overflow: hidden;
  font-size: 13px;
  text-align: justify;
}

.second_mediaImage {
  /* margin-left: 2px; */
  position: relative;
}
.second_mediaImage img.img-fluid.w-100 {
  position: relative;
  bottom: 36px;
  margin-left: 10px;

}

.second_labelImage {
  display: flex;
  align-items: center;
  justify-content: end;
}

.second_labelImage img.img-fluid {
  width: 135px !important;
  height: 135px;
  border-radius: 50%;
  right: 152px;
}

.second_mediaImage {
  margin-left: 2px;
}

.propertySecond_details {
  background: #2e3339;
  padding: 10px 10px;
  /* margin: 1px; */
  border-radius: 16px;
  margin-left: 2px;
}

.row.mt-2.contactSecond_background {
  background-color: var(--branding-footer-color);
  width: 100%;
  margin: 3px;
  border-radius: 16px;
  padding: 10px 10px;
}

.row.thirdDetails_Property {
  background: #2e3339;
  border-radius: 16px;
  margin: 10px;
  padding: 10px;
}

.col-md-6.singleListingThird.mb-3 {
  position: relative;
}

.singleListingThird .img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 310px;
  max-height: 264px;
}

img.platform_Logo {
  width: 210px;
  height: auto;
}

ul.filterCalender {
  background: #ffffff;
  text-align: center;
  width: 15rem;
  margin-top: 36px;
  padding: 10px;
}

ul.nav.nav-tabs.filterCalender li {
  border-left: 9px solid;
  float: left;
  text-align: left;
  width: 100%;
  padding: 5px 15px
}

.template_second a {
  background-color: #445985;
  color: white;
  padding: 10px;
  border-radius: 16px;
  float: right;
  margin-right: 71px;
}

.template_second {
  margin: 27px;
  padding: 8px;
}

.print_Profile {
  border-radius: 50px;
  height: 70px;
  object-fit: cover;
  width: 70px !important;
}

.postCards_description {
  background-color: var(--branding-footer-color);
  padding: 10px;
  margin: 0px;
  color: white;
}

.print_Profile_PostCard {
  border-radius: 0px;
  height: 150px;
  width: 117px;
  object-fit: cover;
  right: 40px;
  bottom: 150px;
  position: absolute;
  /* border: 5px solid white; */
}


.footer {
  background-color: var(--branding-footer-color);
  float: left;
  width: 100%;
  color: #ffffff;
  position: relative;
  padding: 0 4%;
}

header.navbar.navbar-expand-lg.navbar-dark {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  background-color: var(--branding-header-color);
}

header.navbar.navbar-expand-lg.navbar-dark .order-lg-3 span a {
  color: #ffffff;
}

header.navbar.navbar-expand-lg.navbar-dark .navbar-brand img {
  max-width: 100%;
  max-height: 65px;
}
header.navbar.navbar-expand-lg.navbar-dark .order-lg-3 span {
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
}

header.navbar.navbar-expand-lg.navbar-dark i.fa.fa-bars {
  color: #ffffff;
  font-size: 20px;
  line-height: 12px;
  background: #ffffff14;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.navbar.navbar-expand-lg .hamburger_navbar {
  cursor: pointer;
}

.event-calender .filterCalender li.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0px !important;
}

.switch.btn.off.btn-danger.btn-lg {
  margin-left: 14px;
}

.passwordToggle {
  margin-top: 3px;
}

.onboardingbutton .form-select option {
  word-break: break-word;
}

img.homeimageactive {
  border: 2px solid green;
  padding: 6px;
}

.all_associlates_list {
    float: left;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 90px;
    background: #ffffff;
}


@media only screen and (max-width: 480px) {

  .gray-text {
    min-width: 230px!important;
    left: -130px!important;
}
}