.toaster {
    position: fixed;
    top: 0;
    right: 0;
    // border: 2px solid gray;
    border-radius: 10px;
    z-index: 999;
    .success {
        background-color: var(--color-green);
        color: var(--color-white);
        p, small{
            color:var(--color-green);
        }
    }
    .error {
        background-color: var(--color-red);
        color: var(--color-white);
        p, small{
            color:var(--color-red);
        }
    }
}
.toast-header p {color: #25ca25!important;}
.toaster .error {background-color: #ffffff;}
.toaster .error .toast-header p {color: #f03d3d!important;}