.section {
  width: 100%;

}

/*.ContactCardConfirm{
  border: 1px solid black;
  padding: 9px;
  right: 50px;
  border-radius: 12px;
  position: absolute;
  top: auto;
  width: 220px;
  background: #ffffff;
} */

.ContactCardConfirm {
    padding: 20px;
    right: 50px;
    position: absolute;
    top: auto;
    width: 225px;
    border: 1px solid #efecf3;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem -0.25rem rgba(31,27,45,.12), 0 0.25rem 1rem rgba(31,27,45,.12) !important;
}
.contact_info .card.card-horizontal blockquote.card-body p a {
    font-size: 12px;
}
button.btn.btn-primary.RemovePopup {
  width: 7px;
}
.react-datetime-picker__wrapper {
    border: thin solid #d5d2dc!important;
    padding: 8px 4px!important;
    border-radius: 8px!important;
}
.noteEdit{
  margin-left: 50px;
}
.react-pdf__Page__canvas {
  border: 1px solid green !important;
    display: block;
    position: relative;
    width: 120px !important;
    height: 55px !important;
    /* margin-left: -66px !important; */
    border-radius: 12px !important;
    /* object-fit: cover; */
}

.onboard_iframe .react-pdf__Page__canvas {
    width: 1000px!important;
    height: 700px!important;
}

.documentverify .react-pdf__Page__canvas {
  border: 1px solid green !important;
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  /* margin-left: -66px !important;  */
  border-radius: 12px !important;
}

.ContactCardConfirms {
  border: 1px solid black;
  padding: 36px,24px 23px, 48px;
  padding: 6px;
  margin-left: 245px;
  border-radius: 17px;
  width: 210px;
  margin-top: -96px;
  position: relative;
}

#uploadlabel {
    margin-left: 99px;
    min-width: 10px;
    margin-top: -58px;
}

#selected_Image {
   max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 500px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}
#uploaded_image{
  max-width: 100%;
    height: auto;
    width: 123px;
    border-radius: 18px;
    padding: 10px
}
img.rounded-circle.profile_picture {
  width: 100px;
    height: 100px;
    border: 4px solid #445985;
    padding: 4px;
    min-width: 100px;
    min-height: 100px;
}
.react-pdf__Page__textContent{
  display: none;
}
span.position-absolute.top-0.start-0.d-lg-block.d-none.w-100.h-100.zindex-1.bg-dark.rounded-4.rounded-start-0 {
  max-width: 43vw;
}
.col-md-12.pdf-checkbox {
  border: 1px solid #efecf3;
  padding: 20px 20px;
  border-radius: 6px;
  margin-bottom: 18px;
  overflow-x: auto;
}
.react-pdf__Page__annotations {
  width: calc(var(--scale-factor) * 0px) !important;
    height: calc(var(--scale-factor) * 0px) !important;
}
#pdf-file{
  margin-right: 7px;
}
.react-pdf__Document {
display: flex;
}
.col-md-12.pdf-checkbox .react-pdf__Page__canvas {
  max-width: 70px;
  max-height: 90px;
  margin-right: 15px;
}
.react-pdf__message{
  display: none;
}

.answer_options{  
    border: 1px solid #999;;
    padding: 10px;
    color: #333;
    width: 350px;
    background-color: #f0f0f0;
    margin: 10px;
    cursor: pointer;
}

.Selected{
  background-color: #0d0;
  border: 1px solid #999;;
  padding: 10px;
  color: #ffffff;
  width: 350px;
  cursor: pointer;
  margin: 10px;
}

#selectButton{
  margin-right: 200px;
    margin-top: 70px;
}
.activity_list{
  margin-left: 20px;
  padding-left: 20px;
}
.activity_list-one{
  padding-left: 20px;
}
.activity_list-two{
  padding-left: 20px;
}
.activity_list-three{
  padding-left: 20px;
}
span.post_type {
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px 20px;
  background: #e0e0e0;
  border-radius: 19px;
  float: right;
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 500;
}
.textArea-form{
  display: block;
  width: 45%;
  padding: 0.575rem 1.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #454056;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5d2dc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 2px transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.blend{
  background-color:#fd5631;;
  border-radius: 50rem !important;
  display: inline-flex;
    align-items: center;
    justify-content: center
}

.section-center {
  margin: 0 auto;
  width: 33vw;
  height: 134px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.person-img {
  width: 704px;
  height: 142px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.prev,
.next {
  position: absolute;
  top: 60px;
  transform: translateY(-50%);
  background-color: #EFEFEF;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

article {
  position: absolute;

}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

#button-item {
  margin-left: 15px;
  margin-top: 6px;
}

#from-check-inline {
  display: flex;
}

#match-only {
  margin-left: 10px;
}

#form-radio-1 {
  margin-left: 10px;
}

#form-radio-2 {
  margin-left: 10px;
}

#form-radio-3 {
  margin-left: 10px;
}
#form-radio-4 {
  margin-left: -16px;
  margin-top: 4px
}
#radio-level1{
  margin-top: -9px;
}


#updater {
  padding: 10px;
  text-align: center;
}
#ExternalLink {
  padding-right: 14px;
  background-image: url("https://cdn.pboffice.net/outlink/boxarrow_gray.png");
  background-position: right center;
  background-repeat: no-repeat;
}
#document{
  font-size: 24px;
}
#text-document{
  font-size: 14px;
  margin-left: 100px;
}

#text-document-one{
  font-size: 14px;
}

#text-document-two{
  color: #3a3838;
  font-size: 14px;
}

#Transaction-email{
  float: right;
  margin-top: 86px;
  margin-bottom: 0px;
  margin-right: 74px;
}
#Northstar-document{
  float: right;
  margin-right: 74px;
}
#document-showInfo{
  /* float: right;
  margin-right: 74px; */
}

#Document-search{
  margin-left: 5px;
}

.row, a {
  text-decoration: none;
}
.noteHistory{
  /* width: 100%; */
  border-top: solid 1px #d0d0d0;
  border-bottom: solid 1px #d0d0d0;
  padding: 8px 8px 8px 8px;
  margin-top: 5px;
}
#note-text{
  margin-left: 30px;
    margin-top: -23px;
    font-size: 12px;
}
.notes-main{
  float: left;
  width: 100%;
  border-top: solid 2px #efecf3;
  /* padding: 0px 8px 0px 8px; */
  margin-bottom: 3px;
  margin-top: 5px;
}
#note-text-one{
  margin-left: -35px;
    text-align: center;
    font-size: 14px;
    margin-top: -55px;
    padding-top: 5px;
}
#note-text-two{
  margin-left: -35px;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    margin-top: -30px;
}

#form-check-label-one{
  /* font-size: 18px; */
}

.form-check-label-one{
  /* font-size: 19px; */
  margin-top: 18px;
}
#text-input-one{
  /* margin-left: 304px;
  margin-top: -36px; */
}
#form-label-one{
  /* font-size: 19px; */
  /* margin-left: 16px; */
}
.form-check-label-two{
  font-size: 19px;
}
.form-check-label-three{
  font-size: 14px;
}

.css-b62m3t-container{
  position: relative;
  margin-left: 303px;
  width: 422px;
  margin-top: -37px;
}
.addNoteCancel{
  margin-left: 514px;
  margin-right: 46px;
}
.text-expense{
  font-size: 25px;
  color: black;
}
.text-expense-one{
  font-size: 20px;
  color: black;
  margin-top: 50px;
}
#label-expenses{
  font-size: 19px;
  color: black;
}
.text-expense-two{
  font-size: 14px;
}
.view_profile img.pull-left {
  float: left;
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: top;
}
.view_profile span {
  width: calc(100% - 115px);
  float: left;
  margin-left: 15px;
}
.view_profile span a.card-title, .view_profile span p a {
  text-align: left;
  font-size: 15px;
  text-decoration: none;
}
.calendar_view .fc-toolbar-chunk {
  display: flex;
}
#text-document-three{
  margin-top: -18px;
    color: #3a3838;
    font-size: 14px;
    margin-left: 20px;
}
#text-document-four{
  margin-top: -18px;
    color: #3a3838;
    font-size: 14px;
    margin-left: 20px;
    margin-top: -36px;
}
.orangeImage{
  margin-top: -36px;
}

.col-md-9.mt-3, p a {
  text-decoration: none;
}
.col-md-9.d-flex, .col-md-4 p a {
  text-decoration: none;
}
.col-md-9.d-flex, .col-md-6 p a {
  text-decoration: none;
}




/**css on 2 august***/

.card-img-top img.img-fluid {
  object-fit: cover;
  min-height: 200px;
}
img.rounded-circle.profile_picture {
  object-fit: cover;
}
.tags-badge badge:before {
  position: relative;
}
.tags-badge badge:before {
  content: '';
  display: block;
  border-left: 4px solid #9A9B9D;
  height: 24px;
  position: absolute;
  left: -14px;
}
.tags-badge badge {
  position: relative;
  color: #323232;
}
.transaction_tab .dropdown-menu.dropdown-menu-end {
  padding: 8px 8px;
}
.document_bar {
  float: left;
}


.activateaccountstaff_recruiter {
  position: absolute;
    background: #ffffff;
    z-index: 1;
    padding: 0px 1px;
    width: 283px;
}

.staff_recruiterinput {
  position: relative;
}


.activateaccountstaff_recruiter img.rounded-circle.profile_picture {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid !important;
}
.activateaccountstaff_recruiter ul li strong {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  margin-left: 12px;
}
.contact_information img.rounded-circle.getContact_picture {
  height: 165
px
;
  width: 165
px
;
  max-height: 165
px
;
  border: 1
px
solid #323232;
}
.modal-one .content-overlay .react-pdf__Page__canvas {
  width: 75px!important;
  height: 75px!important;
  margin-left: 2px!important;
  border-radius: 12px!important;
}
.modal-one .content-overlay .pdf-preview {
  float: left;
  width: 100%;
  overflow-x: auto;
  padding: 10px 4px;
}

.document_description {
  float: left;
  width: calc(100% - 360px);
}

.document_action {
  float: right;
    text-align: right;
}
.document_action span.status_tag {
    float: left;
    width: 100%;
    text-align: right;
}
.document_bar .pull-right .react-pdf__Document.react-pdf__Page__canvas.document_file .react-pdf__Page__canvas {
  border: 1px solid green !important;
  display: block;
  position: relative;
  width: 100px !important;
  height: 50px !important;
  margin-right: 10px !important;
  border-radius: 12px !important;
}
.document_action .react-pdf__Document.document_file {
  width: auto;
  height: auto;
}
.NotSetup.Marquee.text-center {
  float: left;
  width: 100%;
  border: dotted 3px;
  padding: 30px 12px;
}
.banner_item {
  float: left;
  width: 100%;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  margin-top: 34px;
  padding: 25px 0;
}

.modal_Body{
  position: relative;
  flex: 1 1 auto;
  padding: var(--fi-modal-padding);
  height: 218px;
}

a.edit_Campaign {
  /* margin-left: 102px; */
}

.css-1yn2e29-InputColor {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 200px !important;
  height: 50px !important;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transaction_tab span.badge_require {
  position: absolute;
  right: 0;
  top: -9px;
  background: #fd5631;
  border-radius: 100%;
  padding: 2px;
  height: 20px;
  width: 20px;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.productpromote_main{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
.promote_main {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 16px;
  margin: 10px;
  text-align: center;
 
}
.productItemImage img {
  width: 100%;
  margin: 10px 10px;
}
/* .productItemImage span {
  position: absolute;
  right: 77px;
} */
.promote_main i {
  position: absolute;
  margin: 10px -18px;
} 
.promote_Search{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding:10px;
  height: 326px;
}
.promote_filter{
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding:10px;
}
.product_details {
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 6px;
}

.promote_main button {
  position: absolute;
  margin: 0px -49px;
}

.product_key {
  border: 1px solid #e0e0e0;
  float: left;
  width: 100%;
  border-radius: 6px;
  margin-left: 10px;
  padding-left: 10px;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 60px  !important;
}

.product_key.p-4 p img {
  background-color: #445985;
  width: 38px;
  margin-right: 10px;
  height: 38px;
  float: left;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer !important;
  text-align: left  !important;
  white-space: nowrap  !important;
}

.accordion-body.mt-3 a {
  border: 1px solid #32323c;
  padding: 10px;
  border-radius: 6px;
  color: #32323c;
}

.signature-canvas{
  touch-action: none;
    user-select: none;
    border: 1px solid #e0e0e0 !important;
    border-radius: 6px !important;
}
.staff_signature {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#uploadlabelstaff {
  margin-left: -1px;
  min-width: -4px;
  margin-top: -2px;
}
 

.question_listing .pull-right {
  margin-left: 6px;
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.question_listing .accordion {
  float: left;
  width: calc(100% - 80px);
}
.image-gallery-image {
  width: 85% !important;
  min-height: 206px;
  height: 100%;
  border-radius: 12px !important;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
  padding-top: 15px !important;
}
.promote_main p {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.promote_main h6 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  margin: 6px 0px;
}
/* .promote_main img {
  height: 100%;
  min-height: 115px;
  object-fit: cover;
} */
.profile_task {
  height: 50px !important;
  width: 50px;
  /* object-fit: cover; */
}

img.blogImage {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.contactProfile.businesscard {
  position: relative;
  top: -58px;
}

.content_main{
  position: relative;
}

/**start css on 27 oct***/
main.page-wrapper.homepage_layout.commonpage_layout {
    float: left;
    width: 100%;
    min-height: 70vh;
    overflow-y: initial;
}
label.form-check-label {
    font-size: 15px;
}

.multitab-action .card-nav button.card-nav-link {
    background: transparent;
    position: relative;
    display: block;
    padding: 1rem 0;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;
    border-color: #efecf3;
    color: #454056;
    text-decoration: none;
    border-width: 1px 0px 0px 0px;
    width: 100%;
    text-align: left;
    /* padding-left: 12px; */
}

.multitab-action img.rounded-circle.getContact_picture {
    height: 48px;
    object-fit: cover;
    min-width: 48px;
}

.primary_areas input.form-control {
    margin-right: 10px;
}
.primary_areas select.form-select.form-select-lg {
    margin-right: 10px;
}

.multitab-action .product_transaction_summary img.getContact_picture {
    max-height: 150px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

.transaction_tips img {
    height: 100%;
    max-height: 100%;
}
.contactProfile.businesscard img.rounded-circle {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 5px solid white;
    background: #ffffff;
    max-height: 175px;
}
.ada_new_feature {
  float: right;
}
.table-responsive.activity_overview tr th {
    font-weight: 600;
    color: #242424;
    padding: 2px 8px;
}
.table-responsive.activity_overview tr td {
    padding: 6px 8px;
    font-size: 14px;
}
.content-overlay .card.card-hover.card-horizontal.transactions:hover {
    cursor: pointer;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.asdf {
  width: 100%;
  height: 100%;
}

.asdf canvas {
  width: 100% !important;
}


.col-md-8.singleListing .img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 310px;
  max-height: 310px;
}
.card-nav img.transacragent {
  width: 50px;
  height: 50px;
}
span.badge_require {
    position: absolute;
    right: 0;
    background: #ffdede;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    color: #cf0000;
    text-align: center;
    font-size: 14px;
    padding: 2px;
}
.transaction_profile_section img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #e7e7e7;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31,27,45,.08), 0 0.25rem 0.75rem rgba(31,27,45,.08);
}
.content_main img.pull-right {
    cursor: pointer;
}

.transaction_profile_section {
    cursor: pointer;
}
.transaction_property .accordion-item {
    float: left;
    width: 100%;
}
.transaction_property .accordion-collapse.collapse {
    float: left;
    width: 100%;
}
.transaction_property .accordion-body {
    float: left;
    width: 100%;
}
.transaction_profile_section label.col-form-label {
    cursor: pointer;
}
h6.note_description p {
    margin-bottom: 0px;
}
.activelistingtype {
  border: 2px solid black;
}

.transaction_review object {
    width: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
}
.transaction_review a:hover, .transaction_review object a:hover {
    color: #000000;
    /* font-weight: 500; */
}

.pdf-checkbox .pdf-preview .react-pdf__Document img {
    margin-left: 48px;
    display: block;
    margin: -8px 0px -7px 58px;
    width: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.file_links a {
    background: #ececec;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
}
.file_links a p {
  margin-bottom: 0px;
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: initial;
}
.pdf-preview.preview_section canvas.react-pdf__Page__canvas {
    height: 100%!important;
    width: 100%!important;
}
.ada_new_feature .profile_thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    min-width: 50px;
}
.post_details img {
  max-height: 100%;
}
.new_associates .card-body img.rounded-circlee {
  object-fit: cover;
  object-position: center;
  width: 145px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span a {
    color: #ffffff;
}

.rmsc.multi-select .dropdown-container {
    border: 1px solid var(--rmsc-border);
    border-radius: 6px;
}
.rmsc .dropdown-container .dropdown-heading {
    height: 44px;
}
.rbc-event, .rbc-day-slot .rbc-background-event {
    margin: -1px;
    padding: 0px 4px;
}
.rbc-month-header .rbc-header {
    font-size: 16px;
}
.onboard_document .react-pdf__Page__canvas {
  border: 1px solid green !important;
  /* display: block; */
  /* position: relative; */
  width: 70% !important; 
  height: 100% !important;
  /* margin-left: -66px !important; */
  border-radius: 12px !important;
  /* object-fit: cover; */
  margin: auto;
  margin-bottom: 16px;
}
.canvas_signature {
  width: 40%;
  margin: auto;
  float: none;
  margin-bottom: 12px;
}
.canvas_signature canvas.signature-canvas {
  width: 100%;
}
.onboard_document .react-pdf__Document {
  display: block;
  max-height: 500px;
    overflow-y: auto;
}
.onboard_document img.react-draggable {
  bottom: 16%;
  right: 7%;
  border: 1px solid #00000021;
}
.onboard_document .react-pdf__Page {
  background: transparent!important

}
.FeaturedBox .StandardItem.ProductItem .cat-icon {
    background-position: center!important;
}
.FeaturedBox .StandardItem.ProductItem {
    margin: 6px 0px 0px 0px;
}
.tns-item.tns-slide-cloned .card-body a:hover {
    color: #000000;
    font-weight: 500;
}
.promoted_product .card-img-hover img.img-fluid {
    border-top-left-radius: var(--fi-card-inner-border-radius)!important;
    border-top-right-radius: var(--fi-card-inner-border-radius)!important;
}
.product_images {
    position: relative;
}
.productItemImage .delete_data img {
    position: absolute;
    right: -3px;
    width: 20px;
    top: -7px;
    cursor: pointer;
    border-radius: 100%;
}
.product_images img {
    object-fit: cover;
    max-height: 125px;
}
i:hover {
    color: #000000;
}
.businesscard h6.user_designation {
    color: #445985;
}
.federal_tax_classification label.form-label {
  float: left;
  width: 100%;
}

.federal_tax_classification label {
  float: right;
  width: calc(100% - 26px);
}
.federal_tax_classification .form-check-input[type=checkbox] {
  float: left;
  width: 20px;
}




/**end  css***/





/**start responsive css***/

@media only screen and (max-width: 1200px) {
.sigin_user_layout {
    max-width: 75%;
}



}


@media only screen and (max-width: 991px) {
  header.navbar.navbar-expand-lg.navbar-dark.bg-dark .dropdown-menu-end {
    min-width: 235px;
    display: block!important;
    left: auto!important;
    right: 6px!important;
}

}

@media only screen and (max-width: 768px) {


.table-responsive th, .table-responsive tr td {
    font-size: 12px;
    padding: 8px;
}
 #text-document {
    margin-left: 20px;
} 
.multitab-action .card-nav button.card-nav-link {
    font-size: 14px;
}
.multitab-action a.btn.btn-outline-secondary {
    margin-top: 12px;
}
.multitab-action .product_transaction_summary img.getContact_picture {
    margin-bottom: 6px;
}
.transaction_tips h2 {
    font-size: 16px;
}
.transaction_tips p.pb-2.fs-lg {
    font-size: 13px!important;
}
.card.card-hover.card-horizontal.transactions a.card-img-top {
    max-width: 100%;
    min-width: 100%;
}
.card.card-hover.card-horizontal.transactions .card-body {
    padding: 0px;
    margin-top: 12px;
}
.btn {
    font-size: 12px;
}
 .btn.btn-info {
    font-size: 12px;
    --fi-btn-padding-y: 0.425rem;
    --fi-btn-padding-x: 1rem;
} 
 .card .card-body .list-unstyled li {
    font-size: 13px;
} 
.card .card-body .list-unstyled li img {
    width: 14px;
}
.file-uploader {
    font-size: 12px;
}
  small.pull-right {
    font-size: 11px;
    float: left;
    width: 100%;
}
  .file-uploader input#fileUpload {
    font-size: 13px;
}
  .product_vendors .d-flex.align-items-center.justify-content-between {
    display: inline-block!important;
    /* margin-bottom: 32px!important; */
}
.product_vendors .align-items-center.justify-content-between span.pull-right {
    float: left!important;
    margin-top: 16px;
}
  .FeaturedBox .small-12.medium-3.large-3.columns {
    float: left;
    width: 50%;
}
.FeaturedBox .StandardItem.ProductItem .cat-icon {
    height: 145px;
}
.select2-container {
    width: 100%!important;
}
.sigin_user_layout {
    padding: 14px;
}
select.form-select {
    font-size: 12px;
}
.invite_contacts .card-body p a .fa.fa-envelope {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invite_contacts .card.card-hover span {
    margin-right: 12px;
}
.tags-badge badge:before {
    border-left: 3px solid #9A9B9D;
    height: 21px;
    position: absolute;
    left: -8px;
}
.invite_contacts input.checkinvite {
    margin: 0 12px!important;
}
span.pull-right.tags-badge badge {
    margin-left: 60px;
    font-size: 12px!important;
}
.invite_contacts strong {
    font-size: 12px;
}
  .invite_contacts .card.card-hover {
    max-width: 100%;
    overflow-x: auto;
}
  .invite_contacts .card-body img.rounded-circle.profile_picture {
    width: 50px!important;
    height: 50px!important;
    border: 1px solid #445985!important;
    padding: 2px!important;
    min-width: 50px!important;
    min-height: 50px!important;
}

.accordion-item .accordion-button {
    font-size: 12px;
    margin-right: 4px;
}
.accordion-body {
    font-size: 13px;
}
.accordion-item .dropdown-toggle::after {
    font-size: 9px!important;
}
.btn.btn-primary {
    font-size: 12px!important;
    padding: 8px 10px;
}
.btn-secondary {
font-size: 12px!important;
padding: 8px 10px;
}
.form-control {font-size: 12px;}
h5 {font-size: 14px;}
.form-label {font-size: 13px;}
label.form-check-label {font-size: 13px;}
p {font-size: 13px;}
h6 {font-size: 14px;}
h3 {font-size: 16px!important;}
h3.icon-box-title.fs-base {font-size: 13px!important;}
a {font-size: 13px;}
.rbc-month-header .rbc-header {
    font-size: 12px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark i.fa.fa-bars {
    font-size: 16px;
    line-height: 12px;
    height: 20px;
    width: 20px;
}
a.navbar-brand {
    margin: 0 10px 0px 10px!important;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
    width: 100%;
    max-height: 30px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark a.btn.btn-info {
font-size: 10px;
margin-top: 0px!important;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span {
    font-size: 11px;
    line-height: 8px;
}
header.navbar.navbar-expand-lg.navbar-dark.bg-dark .order-lg-3 span a {
    font-size: 11px;
}
.ada_new_feature .profile_thumbnail {
    height: 35px;
    width: 35px;
    min-width: 35px;
}
.homepage_layout aside.left_sidebar.active {
    width: 50%;
}
.platform_features span {
    width: 25%;
    font-size: 10px;
    margin-bottom: 20px;
}
.platform_features span i.fa {
    max-width: 35px;
    height: 35px;
    font-size: 16px;
}
.bg-secondary {
    margin-top: 80px;
}
.file_links_section {
    margin-bottom: 20px;
    min-height: 220px;
}
.stories_blog_section a.nav-link {
    font-size: 12px;
    padding: 6px 6px;
    margin-bottom: 12px;
}
.blog_details span {
    padding: 8px 12px;
}
.blog_details img.img-fluid {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}
.blog_details span h6, .blog_details span p {
    margin-left: 0px;
}
.search_bar {
    font-size: 12px;
}
.agent_hub_section p {
    font-size: 14px;
}
.file_links_section p b {
    font-size: 12px;
}
.blog_details span h6 {
    font-size: 14px;
}
.blog_details span p {
    font-size: 12px;
}
.share_progress {
    font-size: 12px;
}
.comments_progress {
    font-size: 12px;
}
ul.pagination a.page-link {
    font-size: 12px;
    padding: 0 6px;
}
.rbc-toolbar button {
    font-size: 10px;
}
.rbc-toolbar {
    font-size: 12px;
}
.rbc-toolbar .rbc-toolbar-label {
    margin-top: 10px;
    font-size: 12px;
}
.rbc-date-cell {
    font-size: 10px;
}
main.page-wrapper.homepage_layout .rbc-calendar {
  font-size: 11px;
}
.agent_details p {
    font-size: 12px;
}
.agent_details img {
    max-height: 75px;
}
.agent_details span {
    /* width: 100%;
    margin-left: 0px; */
}
.agent_details span p {
    font-size: 12px;
}
.stories_blog_section {
    margin-top: 0px!important;
}
.stories_blog_section .nav-tabs {
    margin-bottom: 0px;
}
.views_progress {
    font-size: 12px;
}
.file_links_section ul li {
    font-size: 12px;
}
.footer p {
    font-size: 13px;
    margin-bottom: 8px;
}
footer.footer.bg-dark {
    padding-top: 16px!important;
}
.footer p b {
    font-size: 14px;
}
.footer .btn-icon.btn-xs {
    width: 1rem;
    height: 1rem;
    margin-bottom: 16px;
    font-size: 10px;
}
.right_sidebar_innerlayout {
    padding: 16px;
    padding: 8px 0px;
}
.stories_blog_section span {
    width: 100%;
}
.blog_details a.pull-right {
    font-size: 10px;
}
.person-img {
    width: 100%;
    height: 100px;
}
.homepage_layout aside.left_sidebar {
    top: 86px;
}
.left_sidebar ul li a {
    font-size: 12px;
}

.views_click span.pull-right.tags-badge badge {
    margin-left: 6px;
    font-size: 11px!important;
}
.views_click h6 {
    margin-bottom: 6px!important;
    margin-left: 12px!important;
    font-size: 11px;
}
.views_click {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.views_click .tags-badge badge:before {
    height: 17px;
    left: -11px;
}
.sigin_user_layout {
    max-width: 100%;
}
.office_type {
    font-size: 18px;
    font-weight: 600;
}
.office_status {
    float: left;
    width: 100%;
    margin-bottom: 12px!important;
}
img.remove_icon {
    width: 15px;
}
.contactProfile.businesscard img.rounded-circle {
    width: 100px;
    height: 100px;
}


}

@media only screen and (max-width: 480px) {

.transaction_document .accordion-body .col-md-2 .card {
    margin-bottom: 14px;
}

.step-progress .step-number {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 12px;
}

.onboard_iframe iframe {
  height: 1500px!important;
}

.tags-badge img.close_contact {
  margin-top: -71px;
}

.tox.tox-silver-sink.tox-tinymce-aux .tox-notifications-container .tox-notification.tox-notification--in.tox-notification--warning {
  opacity: 0!important;
}

}
/**end responsive css***/
